<header class="jumbotron jumbotron-cover">
    <div class="container">
        <div class="row">
            <img class="img-responsive" src="images/logo/2.svg"/>
        </div>
        <div class="row">
            <address id="cover-address">
                Looking at the seabed for green bits since 2010<br>

                <strong>Echology Ltd.</strong><br>
                Menai Bridge<br>
                Anglesey<br>
                UK<br>
                <br>
                <a id="cover-email" href="mailto:#">jack@echology.co.uk</a>
            </address>
        </div>
    </div>
</header>