<div>
    <div class="jumbotron jumbotron-equipment">
        <div class="container">
            <h2 id="section-title">Equipment</h2>
        </div>
    </div>


    <div class="center-block section-text">
        <p>We use the latest state of the art high resolution echosounder namely the <strong>Biosonics DTX Split Beam
            Echosounder</strong>.</p>

        <p> The equipment can be mounted on a pole over the size of virtually any vessel and is portable enough to
            enable surveying in a range of environments.</p>

        <div class="row vertical-align" style="margin: 25px 0 25px 0;">
            <div class="col-lg-6">
                <img class="img-responsive img-circle center-block section-img"
                     src="../images/G0012845.jpg"/>
            </div>
            <div class="col-lg-6">

                <p><strong>Why Split Beam?</strong><br><br>

                - With a split beam echosounder the acoustic pulse is split into four quadrants. <br><br>

                This enables the aspect of a fish to be determined which is important as this has a bearing on the
                    amount of acoustic energy that it reflects. The use of a split beam echosounder is essential in
                    order to determine fish biomass.</p>
            </div>

        </div>
        <div class="row vertical-align" style="margin: 25px 0 25px 0; padding: 25px 0 25px 0;">
            <div class="col-lg-6">
                <p> Data are processed using the specialist software SONAR 5 Pro, developed by Helge Baulk from the
                    University of Oslo.<br><br>
                    The image shows the clear acoustic signal returned from seagrass beds.

                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive img-circle center-block section-img"
                     src="../images/data_proc.jpg"/>
            </div>
        </div>
    </div>

</div>