<div class="jumbotron jumbotron-gis">
    <div class="container">
        <h2 id="section-title">GIS</h2>
    </div>
</div>
<div class="center-block section-text">
    <p>Geographic Information Systems (GIS) are a way of displaying and analysing spatial data.</p>
    <p>In our work these data commonly relate to the distribution of fish (in terms of numbers of individuals, biomass and/or mean sizes), seagrass beds and bathymetry (depth).</p>
    <p>The data can therefore be plotted upon a base map and this can reveal important relationships.</p>
    <p>The visualisation of the data in this way helps to inform planners, developers and environmental managers upon the nature of the environment so that any potential impacts can be minimised.</p>
</div>