<div class="navbar navbar-default navbar-static-top" id="topNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-default btn-lg" ng-click="jumpToLocation(links[0])">GIS</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-lg" ng-click="jumpToLocation(links[1])">Seabed Mapping</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-lg" ng-click="jumpToLocation(links[2])">Other Services</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-lg" ng-click="jumpToLocation(links[3])">Equipment</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-lg" ng-click="contactModal()">Contact Echology</button>
                </li>
            </ul>
        </div>
    </div>
</div>


