<div class="jumbotron jumbotron-other">
    <div class="container">
        <h2 id="section-title">Other Services</h2>
    </div>
</div>
<div class="center-block section-text">
    <p>We can also provide your project with the following services:</p>
<ul>
       <li>Fisheries Acoustics</li>
        <li>Seabed Bathymetric Mapping</li>
    <li>Seagrass Mapping</li>
    <li>Seabed grabs and cores for benthic infaunal analysis and sediment chemistry</li>
    <li>Drop down HD video and stills</li>
    <li>Video and Still analysis</li>
    <li>JNCC Certified Marine Mammal Observers (MMO)</li>
    <li>JNCC Certified Passive Acoustic Monitoring (PAM) Operators</li>
    <li>BOEM Certified Protected Species Observers</li>
    <li>HSE Part IV Commercial Diving Personnel</li>
    <li>Collection of water samples for Water Quality Analysis and Environmental Chemistry</li>
    <li>Plankton Trawls</li>
    <li>Benthic Trawls</li>
    <li>Intertidal mapping</li>
    <li>GIS Services</li>
    <li>Environmental Impact Assessment (EIA) and other consenting work</li>
</ul>
</div>