<div class="jumbotron jumbotron-seabed">
    <div class="container">
       <h2 id="section-title">Seabed Mapping</h2>
    </div>
</div>
<div class="center-block section-text">
    <p>Seagrass beds are an important habitat as they can serve as nursery areas for a variety of species, and are also known to have a role as carbon, nutrient and chemical sinks and also in stabilising coastal sediments (Orth et al, 2003). </p>
    <p>They have actually been categorised as the 3rd most valuable ecosystem globally (on a per hectare basis), only preceded by estuaries and wetlands (Costanza et al, 1997). </p>
    <p>They are a UKBAP Priority Habitat, on the OSPAR List of Threatened and/or Declining Species and Habitats and also are an important feature of estuarine Sites of Special Scientific Interest (SSSI) under the UK Wildlife and Countryside Act 1981. </p>
    <p>Further the Water Framework Directive (2000/60/EC) requires that the assessment of seagrass quality which considers taxonomic composition, abundance and disturbance sensitive taxa. </p>
    <p>As such, any development that may have an impact upon a seagrass bed will need to map the seagrass in order to determine the potential impact magnitude in order to both gain consents and determine mitigation measures.</p>
    <p>The use of acoustics for this purpose is likely to be the most cost efficient method of achieving this.</p>
    <div class="row vertical-align" style="margin: 25px 0 25px 0; padding: 25px 0 25px 0;">
        <div class="col-lg-6">
            <p> Data are processed using the specialist software SONAR 5 Pro, developed by Helge Baulk from the
                University of Oslo.<br><br>
                The image shows the clear acoustic signal returned from seagrass beds.

            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-responsive img-circle center-block section-img"
                 src="../images/data_proc.jpg"/>
        </div>
    </div>
</div>